*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: white;
  background-color: #10121B;  
}

h1{
  font-size: 3rem;
}

span{
  color: #037fff;
}

.App{
  padding: 0 20rem;
}

.title{
  padding: 5rem 0;
  text-align: center;
}

h2{
  font-size: 2rem;
  font-weight: 200;
  margin: 1rem 0;
}

h2:hover{
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: #037fff;
}

p{
  color: rgba(255, 255, 255, 0.747);
}

.item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.item-con{
  width: 100%;
  padding: .5rem;
  background-color: #19202E;
}

.item-container{
  overflow: hidden;
}

.item-container > img {
  width: 100%;
  transition: all .1s ease-in-out;
}

.item-container > img:hover{
  transform: scale(1.1);
  cursor: pointer;
}